@using Domain.Entities.FORG;
@model EndPoint.WebUI.Models.UserPerson
@{
    string urlSave;
    Guid gidUser;
    Guid gidPerson;
    bool HasPerson = ViewBag.HasPerson;
    int listRoleCount = ViewBag.listRoleCount;
    int personRoleListCount;
    string @userPassword = "";

    if (Model != null && Model.User != null)
    {
        urlSave = "EditToDb";
        ViewData["Title"] = "ویرایش کاربران";
        ViewData["RouteMap"] = ViewData["Title"] + " - لیست کاربران";
        gidUser = Model.User.UserId;
        //gidPerson = Model.Person.PersonId;
        userPassword = Model.User.Password;
        List<Guid> personRoleList = ViewBag.personRoleList;
        personRoleListCount = ViewBag.personRoleList.Count;
    }
    else
    {
        urlSave = "AddToDb";
        ViewData["Title"] = "ایجاد کاربران";
        ViewData["RouteMap"] = ViewData["Title"] + " - لیست کاربران";
        personRoleListCount = 0;

        if (HasPerson)
        {
            gidUser = Guid.NewGuid();
           // gidPerson = Model.Person.PersonId;
        }
        else
        {
            gidUser = Guid.NewGuid();
            gidPerson = Guid.NewGuid();
        }
    }
}
<script src="~/js/Tree/gijgo.min.js" type="text/javascript"></script>
<link href="~/css/Tree/gijgo.min.css" rel="stylesheet" type="text/css" />

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item active"><a class="nav-link" data-toggle="tab" href="#Personality" role="tab">اطلاعات فردی</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#UserInfo" role="tab">اطلاعات کاربری</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#CoInfo" role="tab">اطلاعات سازمانی</a></li>
                    </ul>
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="Personality" role="tabpanel">
                            <form id="frmPersonality" method="post" class="form-element">
                                <input id="hdnPassword" class="form-control" type="hidden" value="@userPassword" />
                                <input asp-for="User.UserId" class="form-control" type="hidden" value="@gidUser" />
                                @*<input asp-for="Person.PersonId" class="form-control" type="hidden" value="@gidPerson" />
        <input asp-for="PersonId" class="form-control" type="hidden" value="@gidPerson" />
                                <input asp-for="User.PersonId" class="form-control" type="hidden" value="@gidPerson" />*@
                                <input asp-for="HasPerson" class="form-control" type="hidden" value="@HasPerson" />
                                <input asp-for="User.LastOnline" class="form-control" type="hidden" />
                                <input asp-for="RoleIds" id="hdnRoleIds" class="form-control" type="hidden" />
                                <div class="pad box-body row">
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        @*<div class="form-group">
                    <label asp-for="Person.FirstName" class="control-label"></label>:
                    <span class="text-danger">*</span>
                    <input asp-for="Person.FirstName" class="form-control" required />
                    <span asp-validation-for="Person.FirstName" class="text-danger"></span>
                </div>*@
                                    </div>
                                    @*<div class="col-xl-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Person.LastName" class="control-label"></label>:
                    <span class="text-danger">*</span>
                    <input asp-for="Person.LastName" class="form-control" required />
                    <span asp-validation-for="Person.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Person.DisplayName" class="control-label"></label>:
                    <input id="DisplayNamePerson" name="DisplayNamePerson" class="form-control" />
                    <span asp-validation-for="Person.DisplayName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Person.IdNumber" class="control-label"></label>:
                    <input asp-for="Person.IdNumber" class="form-control" />
                    <span asp-validation-for="Person.IdNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Person.NationalCode" class="control-label"></label>:
                    <input asp-for="Person.NationalCode" class="form-control" />
                    <span asp-validation-for="Person.NationalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Person.Phone" class="control-label"></label>:
                    <input asp-for="Person.Phone" class="form-control" type="number" />
                    <span asp-validation-for="Person.Phone" class="text-danger"></span>
                </div>
            </div>*@
                                    <!--<div class="col-xl-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>:
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="Person.LeakDetector" class="control-label"></label>:
                <select asp-for="Person.LeakDetector" class="form-control" asp-items="@(new SelectList(ViewBag.LeakDetectorList,"Text","Value"))">
                    <option value="">- انتخاب -</option>
                </select>
                <span asp-validation-for="Person.LeakDetector" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="Person.Address" class="control-label"></label>:
                <input asp-for="Person.Address" class="form-control" />
                <span asp-validation-for="Person.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="Person.RegionId" class="control-label"></label>:
                <input asp-for="Person.RegionId" class="form-control" />
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="Person.Signature" class="control-label"></label>:-->
                                    @*<input id="SignatureFile" type="file" title="انتخاب عکس" class="form-control" />*@
                                    <!--<input asp-for="Person.Signature" type="hidden" title="انتخاب عکس" class="form-control" />
                <input type="file" onchange="previewFile()"><br>

                <span asp-validation-for="Person.Signature" class="text-danger"></span>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-xs-12" style="top:20px;">
            <div class="form-group ichack-input">
                <input asp-for="Person.IsActive" type="checkbox" class="minimal" />
                <label asp-for="Person.IsActive" class="control-label"></label>
                <span asp-validation-for="Person.IsActive" class="text-danger"></span>
            </div>
        </div>-->
                                </div>
                                <div class="box-footer">
                                    <button type="submit" id="SubmitPerson" class="btn btn-primary btn-outline">
                                        <i class="ti-arrow-left"></i> مرحله بعد
                                    </button>
                                    @if (HasPerson)
                                    {
                                        <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="PersonIndex" asp-controller="Person">
                                            <i class="fa fa-remove"></i> انصراف
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="UserIndex" asp-controller="User">
                                            <i class="fa fa-remove"></i> انصراف
                                        </a>
                                    }
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane pad" id="UserInfo" role="tabpanel">
                            <form id="frmUserInfo" method="post" class="form-element">
                                <div class="pad box-body row">
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="User.UserName" class="control-label"></label>:
                                            <span class="text-danger">*</span>
                                            <input asp-for="User.UserName" class="form-control" required />
                                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        @*<div class="form-group">
                                            <label asp-for="Person.DisplayName" class="control-label"></label>:
                                            <span class="text-danger">*</span>
                                            <input id="DisplayNameUser" name="DisplayNameUser" class="form-control" required />
                                            <span asp-validation-for="Person.DisplayName" class="text-danger"></span>
                                        </div>*@
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="User.Password" class="control-label"></label>:
                                            <span class="text-danger">*</span>
                                            <span class="fa fa-eye form-control-feedback" onclick="togglePass('Password')"></span>
                                            <input id="Password" asp-for="User.Password" class="form-control" type="password" required />
                                            <span asp-validation-for="User.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="User.ConfirmPassword" class="control-label"></label>:
                                            <span class="text-danger">*</span>
                                            <span class="fa fa-eye form-control-feedback" onclick="togglePass('ConfirmPassword')"></span>
                                            <input id="ConfirmPassword" asp-for="User.ConfirmPassword" class="form-control" type="password" required data-rule-equalTo="#Password" />
                                            <span asp-validation-for="User.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="User.Description" class="control-label"></label>:
                                            <input asp-for="User.Description" class="form-control" />
                                            <span asp-validation-for="User.Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6 col-xs-12" style="top:20px;">
                                        <div class="form-group ichack-input">
                                            <input asp-for="User.IsActive" type="checkbox" class="minimal" />
                                            <label asp-for="User.IsActive" class="control-label"></label>
                                            <span asp-validation-for="User.IsActive" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="Submit" id="SubmitUserInfo" class="btn btn-primary btn-outline">
                                        <i class="ti-arrow-left"></i> مرحله بعد
                                    </button>

                                    @if (HasPerson)
                                    {
                                    <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="PersonIndex" asp-controller="Person">
                                        <i class="fa fa-remove"></i> انصراف
                                    </a>
                                    }
                                    else
                                    {
                                    <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="UserIndex" asp-controller="User">
                                        <i class="fa fa-remove"></i> انصراف
                                    </a>
                                    }
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane pad" id="CoInfo" role="tabpanel">
                            <form id="frmCoInfo" method="post" class="form-element">
                                <div class="pad box-body row">
                                    <div class="col-12">
                                        @*@foreach (Role item in (List<Role>)ViewBag.listRole)
        {
            var attrChecked = "";
            if (personRoleListCount > 0)
            {
                for (int i = 0; i < ViewBag.personRoleList.Count; i++)
                {
                    if (@ViewBag.personRoleList[i] == item.RoleId)
                    {
                        attrChecked = "checked";
                    }
                }
            }
        <div class="col-xl-4 col-sm-6 col-xs-12" style="top:20px;">
            <div class="form-group ichack-input">
                <input type="checkbox" value="@item.RoleId" id="RoleId[@item.RoleId]" name="RoleId" class="minimal" @attrChecked required />
                <label class="control-label" for="RoleId[@item.RoleId]">@item.Title</label>
            </div>
        </div>*@
                                        }
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary btn-outline" onclick="return apply();">
                                        <i class="ti-save-alt"></i> ثبت
                                    </button>

                                    @if (HasPerson)
                                    {
                                    <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="PersonIndex" asp-controller="Person">
                                        <i class="fa fa-remove"></i> انصراف
                                    </a>
                                    }
                                    else
                                    {
                                    <a class="btn btn-primary btn-outline mr-1 cancle" asp-action="UserIndex" asp-controller="User">
                                        <i class="fa fa-remove"></i> انصراف
                                    </a>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        var urlSave = '@urlSave';
        if (urlSave == 'EditToDb') {
            $('#Password').val($('#hdnPassword').val());
        }
        $("[href='#UserInfo']").click(function () {
            if (urlSave == "EditToDb") {
                $("#ConfirmPassword").val($("#Password").val());
            }
            $("#SubmitPerson").click();
        })
        $("[href='#CoInfo']").click(function (e) {
           // $("#SubmitUserInfo").click();
        })
       if ('@HasPerson' == 'True') {
             $(".nav-link[href='#UserInfo']").click();
         }
         else {
             $(".nav-link[href='#Personality']").click();
        }
        $('#SignatureFile').on('change', function () {

            $("#Person_Signature").val($("#SignatureFile").val());
        });
        $("#Person_FirstName").on('change', function () {
            $("#DisplayNamePerson").val($("#Person_FirstName").val());
        });
        $("#Person_LastName").on('change', function () {
            $("#DisplayNamePerson").val($("#Person_FirstName").val() + " " + $("#Person_LastName").val());
        });
        $("#frmPersonality").validate({
             rules:  {
                 // simple rule, converted to {required:true}
                FirstName: "required",
                LastName: "required",
                DisplayName: "required"

            },
            submitHandler: function (form) { // for demo
                $("[href='#UserInfo']").attr("data-toggle", "tab");
                $("[href='#UserInfo']").click();
                $("#DisplayNameUser").val($("#Person_FirstName").val() +" "+ $("#Person_LastName").val());
            }
        });
        $("#frmUserInfo").validate({
            rules: {
                // simple rule, converted to {required:true}
                UserName: "required",
                DisplayName: "required",
                Password: {
                    minlength: 5
                },
                ConfirmPassword: {
                    minlength: 5,
                    equalTo: "#Password"
                }
            },
            submitHandler: function (form) { // for demo
                $("[href='#CoInfo']").attr("data-toggle", "tab");
                $("[href='#CoInfo']").click();
            }
        });
        $("#frmCoInfo").validate({
             rules:  {
                 // simple rule, converted to {required:true}
                RoleId: "required"
            },
            submitHandler: function (form) { // for demo
                var arr = [];
                //$.each($("#frmPersonality").serialize(), function (e, v) { arr.push(v) })
                //$.each($("#frmUserInfo").serialize(), function (e, v) { arr.push(v) })
                //$.each($("#frmCoInfo").serialize(), function (e, v) { arr.push(v) })

                arr = $("#frmPersonality").serialize() + '&' + $("#frmUserInfo").serialize() + '&' + $("#frmCoInfo").serialize()


                $.ajax({
                    url: '@Url.Action(urlSave,"User")',
                    data: arr,
                    type: 'post',
                    dataType: 'json',
                    success: function (res) {
                        if (res.success) {
                            if ('@HasPerson' == 'True') {
                            $.noty('@ViewData["Title"] با موفقیت انجام گردید', 'btn-success', 3000,'@Url.Action("PersonIndex","Person")');

                            }
                            else {
                            $.noty('@ViewData["Title"] با موفقیت انجام گردید', 'btn-success', 3000,'@Url.Action("UserIndex","User")');

                            }
                        } else {
                            $.noty('خطا در @ViewData["Title"]' , 'btn-danger', 3000);
                        }
                    }
                });
            }
        });


    });

     function apply() {
         var selectedRoleIds = '';
         $("[name=RoleId]").each(function () {
             if ($(this).is(':checked'))
                 selectedRoleIds += ',' + $(this).val();
         });
         $('#hdnRoleIds').val(selectedRoleIds.substring(1));
     }

     function previewFile() {
         const preview = document.querySelector('#SignatureImg');
         const file = document.querySelector('input[type=file]').files[0];
         const reader = new FileReader();

         reader.addEventListener("load", function () {
             // convert image file to base64 string
             preview.src = reader.result;
             $("#Person_Signature").val(reader.result.split(',')[1]);
         }, false);

         if (file) {
             reader.readAsDataURL(file);
         }
     }
</script>
