@using Domain.Entities;
@inject IViewLocalizer Localizer
@model List<Domain.Entities.UserArticle>
@{
    ViewData["Title"] = Localizer["HomePage"];
}
<style>
    #pricing #ImpressionBasedTbl tr td, #pricing #ImpressionBasedTbl tr th, #pricing #StoryBasedTbl tr td, #pricing #StoryBasedTbl tr th {
        padding-top: 22px;
        padding-bottom: 15px;
    }

    #pricing #TimeBasedTbl tr td {
        padding-bottom: 6px;
    }

    #pricing table tr th {
        padding-bottom: 10px;
        padding-top: 20px;
    }

    #pricing table {
        width: 100%;
    }

    .Costkilo {
        text-align: center;
        width: 80px;
        background: #2b2b2b;
        border: 0px;
        border-bottom: 1px solid #fff;
        color: #fff
    }

    .size-18 {
        font-size: 18px;
    }
</style>
<!-- ======= Hero Section ======= -->
<div id="carouselExampleCaptions" class="carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <section id="hero" class="align-items-center carousel-item active">

            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="hero2" class="carousel-item">

            <div class="container" data-aos="fade-right" data-aos-delay="200">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="hero3" class="align-items-center carousel-item">
            <div class="container" data-aos="fade-right" data-aos-delay="200">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Previous"]</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Next"]</span>
    </button>
</div>
<!-- End Hero -->
<main id="main">
    <section id="Article" class="faq">
        <div class="container" data-aos="fade-up">
            @if (Model.Any())
            {
                @foreach (var article in Model)
                {
                    /*Blogger*/
                    @if (article.Categories == 3)
                    {
                        var cnt = 0;
                        <div class="row">
                            <section id="creator" class="portfolio">
                                <div class="container" data-aos="fade-up">
                                    @Html.Raw(@article.Contents)

                                    <div class="row" data-aos="fade-right" data-aos-delay="100">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <ul id="portfolio-flters">
                                                <li data-filter="*" class="filter-active">@Localizer["All"]</li>
                                                <li data-filter=".filter-ladies">@Localizer["ladies"]</li>
                                                <li data-filter=".filter-health">@Localizer["health"]</li>
                                                <li data-filter=".filter-fact"> @Localizer["fact"]</li>
                                                <li data-filter=".filter-successAndMotivation">@Localizer["successAndMotivation"]</li>
                                                <li data-filter=".filter-sports">@Localizer["sports"]</li>
                                                <li data-filter=".filter-artandMusic">@Localizer["artandMusic"]</li>
                                                <li data-filter=".filter-lifestyle">@Localizer["lifestyle"]</li>
                                                <li data-filter=".filter-foods">@Localizer["foods"]</li>
                                                <li data-filter=".filter-funny">@Localizer["funny"]</li>
                                                <li data-filter=".filter-teaching">@Localizer["teaching"]</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row portfolio-container" data-aos="fade-right" data-aos-delay="200" style="position: relative; height: 855px;">
                                        @foreach (AdvertiseDo advertise in ViewBag.ListAdv)
                                        {
                                            cnt++;
                                            if (cnt < 13)
                                            {
                                                var insta = (advertise.InstagramPage == "") ? "http://www.instagram.com" : advertise.InstagramPage;
                                                var cat = "";
                                                var catName = "";
                                                @switch (@advertise.Categories)
                                                {
                                                    case 1:
                                                        {
                                                            cat = Localizer["ladies"].Value;
                                                            catName = "ladies";
                                                            break;
                                                        }
                                                    case 2:
                                                        {
                                                            cat = Localizer["health"].Value;
                                                            catName = "health";
                                                            break;
                                                        }
                                                    case 3:
                                                        {
                                                            cat = Localizer["fact"].Value;
                                                            catName = "fact";
                                                            break;
                                                        }
                                                    case 4:
                                                        {
                                                            cat = Localizer["successAndMotivation"].Value;
                                                            catName = "successAndMotivation";
                                                            break;
                                                        }
                                                    case 5:
                                                        {
                                                            cat = Localizer["sports"].Value;
                                                            catName = "sports";
                                                            break;
                                                        }
                                                    case 6:
                                                        {
                                                            cat = Localizer["artandMusic"].Value;
                                                            catName = "artandMusic";
                                                            break;
                                                        }
                                                    case 7:
                                                        {
                                                            cat = Localizer["lifestyle"].Value;
                                                            catName = "lifestyle";
                                                            break;
                                                        }
                                                    case 8:
                                                        {
                                                            cat = Localizer["foods"].Value;
                                                            catName = "foods";
                                                            break;
                                                        }
                                                    case 9:
                                                        {
                                                            cat = Localizer["funny"].Value;
                                                            catName = "funny";
                                                            break;
                                                        }
                                                    case 10:
                                                        {
                                                            cat = Localizer["teaching"].Value;
                                                            catName = "teaching";
                                                            break;
                                                        }
                                                }
                                                <div class="col-lg-3 col-md-4 portfolio-item filter-@catName">
                                                    <div class="portfolio-wrap">
                                                        <a href="~/Uploads/@advertise.AdvPicture" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@advertise.Title">
                                                            <img src="~/Uploads/@advertise.AdvPicture" class="img-fluid" alt="">
                                                        </a>
                                                        <div class="portfolio-info">
                                                            <h4>@advertise.Title</h4>
                                                            <p>
                                                                @cat
                                                            </p>
                                                            <div class="portfolio-links">
                                                                @*<a href="~/Uploads/@advertise.AdvPicture" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@advertise.Title">
                                        <i class="bx bx-plus"></i>
                                    </a>*@
                                                                <a href="@insta" target="_blank" data-bs-toggle="tooltip" title="Blogger Instagram">
                                                                    <i class="bx bxl-instagram"></i>
                                                                </a>
                                                                <a href="#" data-bs-toggle="tooltip" title="Viewers Count=@advertise.CntViewers">
                                                                    <span style="font-size:12px">@advertise.CntViewers</span>
                                                                    <i class="bx bx-show"></i>
                                                                </a>
                                                                <a href="#" data-bs-toggle="tooltip" title="Follower Count=@advertise.CntFollowers">
                                                                    <span style="font-size:12px">@advertise.CntFollowers</span>
                                                                    <i class="bx bxs-show"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    @if (cnt >= 13)
                                    {
                                        <div class="btn btn-outline-danger">
                                            <a asp-action="AllAdvertise" asp-controller="Advertise">@Localizer["more"]</a>
                                        </div>
                                    }
                                </div>
                            </section>
                        </div>
                    }
                    else
                   if (article.Categories == 6)/*Pricing*/
                    {
                        <section id="pricing" class="pricing section-bg">
                            <div class="container" data-aos="fade-up">
                                @Html.Raw(@article.Contents)
                                <div class="row">
                                    <div class="col-lg-3 col-md-6" data-aos="fade-left">
                                        <div class="box" data-aos-delay="100" dir="ltr" role="textbox">
                                            <a data-bs-toggle="collapse" class="collapsed btn btn-outline-danger" data-bs-target="#StoryBased" dir="ltr" role="textbox" aria-expanded="false" lang="en">
                                                <span align="center"><b>@Localizer["StoryBased"]</b></span>
                                                <i class="bi bi-chevron-down p-2" aria-hidden="true"></i>
                                            </a>
                                            <div id="StoryBased" class="collapse" data-bs-parent=".faq-list" style="">
                                                @Localizer["StoryBasedDes"]
                                            </div>
                                            <table id="StoryBasedTbl">
                                                <tr>
                                                    <th>@Localizer["Numberofviews"]</th>
                                                    <th>@Localizer["Cost"]</th>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">100k</td>
                                                    <td>30 $</td>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">200k</td>
                                                    <td>60 $</td>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">300k</td>
                                                    <td>90 $</td>
                                                </tr>
                                                <tr>
                                                    <td><input type="number" name="StoryBasedKilo" id="StoryBasedKilo" class="Costkilo" />K</td>
                                                    <td><div id="StoryBasedCost"></div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><a href="#" class="btn btn-danger">@Localizer["SendRequest"]</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mt-4 mt-md-0" data-aos="fade-left">
                                        <div class="box featured" data-aos-delay="200" dir="ltr" role="textbox">
                                            <a data-bs-toggle="collapse" class="collapsed btn btn-outline-secound" data-bs-target="#TimeBased" dir="ltr" role="textbox" aria-expanded="false" lang="en">
                                                <span align="center"><b>@Localizer["TimeBased"]</b></span>
                                                <i class="bi bi-chevron-down p-2" aria-hidden="true"></i>
                                            </a>
                                            <div id="TimeBased" class="collapse" data-bs-parent=".faq-list">
                                                @Localizer["TimeBasedDes"]
                                            </div>
                                            <table id="TimeBasedTbl">
                                                <tr>
                                                    <th>@Localizer["Category"]</th>
                                                    <th>@Localizer["Pages"]</th>
                                                    <th>@Localizer["Post"]</th>
                                                    <th>@Localizer["Story"]</th>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["ladies"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="LadiesPost" name="LadiesPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="LadiesStory" name="LadiesStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["health"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="HealthPost" name="HealthPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="HealthStory" name="HealthStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["fact"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="FactPost" name="FactPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="FactStory" name="FactStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["successAndMotivation"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="SuccessPost" name="SuccessPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="SuccessStory" name="SuccessStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["sports"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="SportsPost" name="SportsPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="SportsStory" name="SportsStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["artandMusic"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="ArtPost" name="ArtPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="ArtStory" name="ArtStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["lifestyle"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="LifestylePost" name="LifestylePost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="LifestyleStory" name="LifestyleStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["foods"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="FoodsPost" name="FoodsPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="FoodsStory" name="FoodsStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["funny"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="FunnyPost" name="FunnyPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="FunnyStory" name="FunnyStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td>@Localizer["teaching"].Value</td>
                                                    <td>10 @Localizer["Page"]</td>
                                                    <td><input type="checkbox" id="TeachingPost" name="TeachingPost" data-val="true" value="true" /></td>
                                                    <td><input type="checkbox" id="TeachingStory" name="TeachingStory" data-val="true" value="true" /></td>
                                                </tr>
                                                <tr>
                                                    <td class="bg-secondary text-white rounded" colspan="2">@Localizer["Culculate"]</td>
                                                    <td colspan="2" align="center"><div id="CulculateDisplay" style="width:70%;text-align:center;border-bottom:solid 1px #fff">  </div></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-left">
                                        <div class="box" data-aos-delay="300" dir="ltr" role="textbox">
                                            <a data-bs-toggle="collapse" class="collapsed btn btn-outline-danger" style="padding:7px !important" data-bs-target="#ImpressionBased" dir="ltr" role="textbox" aria-expanded="false" lang="en">
                                                <span align="center"><b>@Localizer["ImpressionBased"]</b></span>
                                                <i class="bi bi-chevron-down" aria-hidden="true"></i>
                                            </a>
                                            <div id="ImpressionBased" class="collapse" data-bs-parent=".faq-list" style="">
                                                @Localizer["ImpressionBasedDes"]
                                            </div>
                                            <table id="ImpressionBasedTbl">
                                                <tr>
                                                    <th>@Localizer["Numberofviews"]</th>
                                                    <th>@Localizer["Cost"]</th>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">100k</td>
                                                    <td>25 $</td>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">200k</td>
                                                    <td>40 $</td>
                                                </tr>
                                                <tr>
                                                    <td class="size-18">300k</td>
                                                    <td>65 $</td>
                                                </tr>
                                                <tr>
                                                    <td><input type="number" name="ImpressionBasedKilo" id="ImpressionBasedKilo" class="Costkilo" />K</td>
                                                    <td><div id="ImpressionBasedCost"></div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><a href="#" class="btn btn-danger">@Localizer["SendRequest"]</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    else
                   if (article.Categories == 10)/*team*/
                    {
                        int i = 100;
                        <section id="team" class="team section-bg">
                            <div class="container" data-aos="fade-up">
                                @Html.Raw(@article.Contents)
                                <div class="row">
                                    <div class="testimonials-slider swiper-container">
                                        <div class="swiper-wrapper">
                                            @foreach (Team team in ViewBag.ListTeam)
                                            {
                                                <div class="d-flex swiper-slide">
                                                    <div class="member" data-aos="fade-right" data-aos-delay="@i">
                                                        <div class="member-img">
                                                            <img src="~/Uploads/Team/@team.TeamPicture" class="img-fluid" alt="">
                                                            <span class="social">
                                                                <a href="@team.Twitter"><i class="bi bi-twitter"></i></a>
                                                                <a href="@team.Facebook"><i class="bi bi-facebook"></i></a>
                                                                <a href="@team.Instagram"><i class="bi bi-instagram"></i></a>
                                                                <a href="@team.Linkedin"><i class="bi bi-linkedin"></i></a>
                                                            </span>
                                                        </div>
                                                        <div class="member-info" dir="ltr" role="textbox">
                                                            <h4>@team.HeadName</h4><p>@team.Description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                i = i + 100;
                                            }
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    else
                   if (article.Categories == 11)/*Contact*/
                    {
                        <section id="contact" class="contact">
                            <div class="container" data-aos="fade-up">
                                <div class="section-title" dir="ltr" role="textbox">
                                    <h2>@Localizer["ContactUS"]</h2>
                                    <p><br></p>
                                </div>
                                <div class="row" data-aos="fade-left" data-aos-delay="100">
                                    <div class="col-lg-6">
                                        <ul class="faq-list accordion" data-aos="fade-up">
                                            <li>
                                                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1" dir="ltr" role="textbox" aria-expanded="false" lang="en">
                                                    <p align="center">@Localizer["YouCreator"]</p>
                                                    <i class="bi bi-chevron-down p-2" aria-hidden="true"></i>
                                                </a>
                                                <div id="faq1" class="collapse" data-bs-parent=".faq-list" style="">
                                                    <span dir="ltr" role="textbox">
                                                        <p>@Localizer["ContentCreator"]</p>
                                                        <p>@Localizer["NeedTraining"]</p>
                                                        <p>@Localizer["ProfessionalBlogger"]</p>
                                                        <p>@Localizer["HowToWork"]</p>
                                                        <p>@Localizer["InstagramPage"]</p>
                                                        <p>@Localizer["HelpAdsfluencer"]</p>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <p align="center">@Localizer["EXPERTSNOW"]</p>
                                        <br />
                                        <form action="Consultation" method="post" role="form" class="php-email-form">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" id="name" placeholder="*@Localizer["Name"]" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="*@Localizer["Email"]" required="">
                                            </div>
                                            <div class="form-group">
                                                <textarea id="Favorite" name="Favorite" class="form-control" rows="7" placeholder="@Localizer["WhatFav"]" required=""></textarea>
                                            </div>
                                            <div class="my-3">
                                                <div class="loading" style="display: block;">@Localizer["Loading"]</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">@Localizer["SentMessage"]</div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" style="margin-bottom: 12px;">@Localizer["Consultation"]</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="faq-list accordion" data-aos="fade-up">
                                            <li>
                                                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq2" dir="ltr" role="textbox" aria-expanded="false" lang="en">
                                                    <p align="center">@Localizer["Brand"]</p>
                                                    <i class="bi bi-chevron-down p-2" aria-hidden="true"></i>
                                                </a>
                                                <div id="faq2" class="collapse" data-bs-parent=".faq-list" style="">
                                                    <span dir="ltr" role="textbox">
                                                        <p>@Localizer["Advertise"]</p>
                                                        <p>@Localizer["BrandOwner"]</p>
                                                        <p>@Localizer["BrandManager"]</p>
                                                        <p>@Localizer["Startup"]</p>
                                                        <p>@Localizer["SmallBusiness"]</p>
                                                        <p>@Localizer["ReadyToMakeExplosion"]</p>
                                                        <p>@Localizer["WithAdsfluencer"]</p>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <p align="center">@Localizer["GETINTOUCH"]!</p>
                                        <br />
                                        <form action="Contact" method="post" role="form" class="php-email-form">
                                            <p>@Localizer["WhichSocialMedia"]</p>
                                            <div class="row">
                                                <div class="col form-group">
                                                    <input type="checkbox" name="Instagram" id="Instagram" data-val="true" value="true" checked>@Localizer["Instagram"]
                                                    <input type="checkbox" name="YouTube" id="YouTube" data-bs-toggle="tooltip" data-val="true" value="true" title="@Localizer["Soon!"]" disabled>@Localizer["YouTube"]
                                                    <input type="checkbox" name="facebook" id="facebook" data-bs-toggle="tooltip" data-val="true" value="true" title="@Localizer["Soon!"]" disabled>@Localizer["facebook"]
                                                    <input type="checkbox" name="TikTok" id="TikTok" data-bs-toggle="tooltip" data-val="true" value="true" title="@Localizer["Soon!"]" disabled>@Localizer["TikTok"]
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col form-group">
                                                    <label>@Localizer["Budget"]</label>
                                                    <select name="TestMarket" class="form-control" id="TestMarket">
                                                        <option value="1">@Localizer["BrandAwareness"]</option>
                                                        <option value="2"> @Localizer["CustomerAcquisition"]</option>
                                                        <option value="3">@Localizer["AppInstalls"]</option>
                                                        <option value="4">@Localizer["IntroduceStartUp"]</option>
                                                        <option value="5">@Localizer["TestAdsfluencer"]</option>
                                                    </select>
                                                </div>
                                                <div class="col form-group">
                                                    <label>@Localizer["Market"]</label>
                                                    <input type="text" class="form-control" name="Budget" id="Budget" placeholder="10k $ - 20k $">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col form-group">
                                                    <input type="text" name="Company" class="form-control" id="Company" placeholder="*@Localizer["Company"]" required="">
                                                </div>
                                                <div class="col form-group">
                                                    <input type="text" class="form-control" name="YourName" id="YourName" placeholder="*@Localizer["YourName"]" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="email" placeholder="*@Localizer["Email"]" required="">
                                                <div>@Localizer["UseCompanyEmail"]</div>
                                            </div>
                                            <div class="my-3">
                                                <div class="loading" style="display: block;">@Localizer["Loading"]</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">@Localizer["SentMessage"]!</div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit">@Localizer["Contact"]</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                    else
                    {
                        @*<div class="section-title"><h2>@article.Title</h2></div>*@
                        <div class="row">
                            @Html.Raw(@article.Contents)
                        </div>
                    }
                }
            }
        </div>
    </section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->
@if (ViewBag.alertSuccess != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var notyficationSuccess = decodeURIComponent(getUrlParameter("alertSuccess"));
            alert(notyficationSuccess);
        };
    </script>
}
@section Scripts{
    <script>
        $(function () {
            $(".editable").removeClass("editable");

            var timer = setInterval(showDiv, 5000);
            function showDiv() {
                if ($("#tabs li .active").parent().next("li").length) {
                    var tab = $("#tabs li .active").parent().next("li").find("a");
                    tab[0].click();
                } else {
                    $("#tabs li:first a")[0].click();
                }
            }
            $('#tabs .container').hover(function (ev) {
                clearInterval(timer);
            }, function (ev) {
                timer = setInterval(showDiv, 5000);
            });

            $(".portfolio-wrap .portfolio-info").click(function () {
                $(this).parents(".portfolio-wrap").find("a.portfolio-lightbox img").click()
            });

            $("#StoryBasedKilo").change(function () {
                var cost = ($(this).val() / 10) * 3 + "$";
                $("#StoryBasedCost").html(cost);
            });
            $("#ImpressionBasedKilo").change(function () {
                var cost = (($(this).val() / 10) * 2) + 5 + "$";
                $("#ImpressionBasedCost").html(cost);
            });

            var Cost = 0;
            $("[name$=Post]").click(function () {
                if ($(this).prop("checked")) {
                    Cost = Cost + 100;
                    $("#CulculateDisplay").html(Cost);
                } else {
                    Cost = Cost - 100;
                    $("#CulculateDisplay").html(Cost);
                }
            });
            $("[name$=Story]").click(function () {
                if ($(this).prop("checked")) {
                    Cost = Cost + 20;
                    $("#CulculateDisplay").html(Cost);
                } else {
                    Cost = Cost - 20;
                    $("#CulculateDisplay").html(Cost);
                }
            });
        });
    </script>
}