@using Domain.Entities;
@inject IViewLocalizer Localizer
@model List<Domain.Entities.UserArticle>
@{
    ViewData["Title"] = Localizer["HomePage"];
}
<!-- ======= Hero Section ======= -->
<div id="carouselExampleCaptions" class="carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <section id="hero" class="align-items-center carousel-item active">

            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="hero2" class="carousel-item">

            <div class="container" data-aos="fade-right" data-aos-delay="200">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>

        </section>
        <section id="hero3" class="align-items-center carousel-item">
            <div class="container" data-aos="fade-right" data-aos-delay="200">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>@Localizer["TitleSlide"]</h1>
                        <h2>
                            @Localizer["DesciptionSlide1"]
                            @Localizer["DesciptionSlide2"]
                        </h2>
                        <a href="#about" class="btn-get-started scrollto">@Localizer["GetStarted"]</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Previous"]</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Next"]</span>
    </button>
</div>
<!-- End Hero -->
<main id="main">
    <section id="Article" class="faq">
        <div class="container" data-aos="fade-up">
            @if (Model.Any())
            {
                @foreach (var article in Model)
                {
                    if (article.Categories == 3)
                    {
                        <div class="row">
                            <section id="creator" class="portfolio">
                                <div class="container" data-aos="fade-up">
                                    @Html.Raw(@article.Contents)
                                    <div class="row portfolio-container" data-aos="fade-right" data-aos-delay="200" style="position: relative; height: 855px;">
                                        @foreach (Advertise advertise in ViewBag.ListAdv)
                                        {
                                            var cat = "";
                                            @switch (@advertise.Categories)
                                            {
                                                case 1:
                                                    {
                                                        cat = Localizer["ladies"].Value;
                                                        break;
                                                    }
                                                case 2:
                                                    {
                                                        cat = Localizer["health"].Value;
                                                        break;
                                                    }
                                                case 3:
                                                    {
                                                        cat = Localizer["fact"].Value;
                                                        break;
                                                    }
                                                case 4:
                                                    {
                                                        cat = Localizer["successAndMotivation"].Value;
                                                        break;
                                                    }
                                                case 5:
                                                    {
                                                        cat = Localizer["sports"].Value;
                                                        break;
                                                    }
                                                case 6:
                                                    {
                                                        cat = Localizer["artandMusic"].Value;
                                                        break;
                                                    }
                                                case 7:
                                                    {
                                                        cat = Localizer["lifestyle"].Value;
                                                        break;
                                                    }
                                                case 8:
                                                    {
                                                        cat = Localizer["foods"].Value;
                                                        break;
                                                    }
                                                case 9:
                                                    {
                                                        cat = Localizer["funny"].Value;
                                                        break;
                                                    }
                                                case 10:
                                                    {
                                                        cat = Localizer["teaching"].Value;
                                                        break;
                                                    }
                                            }
                                            <div class="col-lg-4 col-md-6 portfolio-item filter-@cat">
                                                <div class="portfolio-wrap">
                                                    <img src="~/Uploads/@advertise.AdvPicture" class="img-fluid" alt="">
                                                    <div class="portfolio-info">
                                                        <h4>@advertise.Title</h4>
                                                        <p>
                                                            @cat
                                                        </p>
                                                        <div class="portfolio-links">
                                                            <a href="~/Uploads/@advertise.AdvPicture" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@advertise.Title">
                                                                <i class="bx bx-plus"></i>
                                                            </a><a href="portfolio-details.html" title="More Details">
                                                                <i class="bx bx-link"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        </div>
                    }
                    else
                    if (article.Categories == 10)
                    {
                        int i = 100;
                        bool more = false;
                        <section id="team" class="team section-bg">
                            <div class="container" data-aos="fade-up">
                                @Html.Raw(@article.Contents)
                                <div class="row">
                                    @foreach (Team team in ViewBag.ListTeam)
                                    {
                                        if (i == 500)
                                        {
                                            more = true;
                                            continue;
                                        }
                                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                                            <div class="member" data-aos="fade-right" data-aos-delay="@i">
                                                <div class="member-img">
                                                    <img src="~/Uploads/Team/@team.TeamPicture" class="img-fluid" alt="">
                                                    <span class="social">
                                                        <a href="@team.Twitter"><i class="bi bi-twitter"></i></a>
                                                        <a href="@team.Facebook"><i class="bi bi-facebook"></i></a>
                                                        <a href="@team.Instagram"><i class="bi bi-instagram"></i></a>
                                                        <a href="@team.Linkedin"><i class="bi bi-linkedin"></i></a>
                                                    </span>
                                                </div>
                                                <div class="member-info editable" dir="ltr" role="textbox" aria-label="Rich Text Editor, main" lang="en">
                                                    <h4>@team.HeadName</h4><p>@team.Description</p>
                                                </div>
                                            </div>
                                        </div>
                                        i = i + 100;                                        
                                    }        
                                    @if (more)
                                    {
                                        <span><a href="@Url.Action("ShowAll","Team")">@Localizer["more"]</a></span>
                                    }
                                </div>
                            </div>
                        </section>
                    }
                    else
                    {
                        @*<div class="section-title">
                                <h2>@article.Title</h2>
                            </div>*@
                        <div class="row">
                            @Html.Raw(@article.Contents)
                        </div>
                    }
                }
            }
        </div>
    </section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->
@if (ViewBag.alertSuccess != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var notyficationSuccess = decodeURIComponent(getUrlParameter("alertSuccess"));
            alert(notyficationSuccess);
        };
    </script>
}
@section Scripts{
    <script>
        $(function () {
            $(".editable").removeClass("editable");

            var timer = setInterval(showDiv, 5000);
            function showDiv() {
                if ($("#tabs li .active").parent().next("li").length) {
                    var tab = $("#tabs li .active").parent().next("li").find("a");
                    tab[0].click();
                } else {
                    $("#tabs li:first a")[0].click();
                }
            }
            $('#tabs .container').hover(function (ev) {
                clearInterval(timer);
            }, function (ev) {
                timer = setInterval(showDiv, 5000);
            });
        });
    </script>
}