@model List<Domain.Entities.UserArticle>
@{
    ViewData["Title"] = "Home Page";
    var j = Json.Serialize(Model);
}
<!-- ======= Hero Section ======= -->
<!-- End Hero -->

<div class="container">
    <main role="main" class="pb-3">
        <button id="saveAll" class="save-all btn btn-danger">Save All</button>
        <!-- ======= Article Asked Questions Section ======= -->
        <div id="Article">
            @if (Model.Any())
            {

            @foreach (var article in Model)
                {
            @*<div class="section-title">
                    <h2>@article.Title</h2>
                </div>*@
            <div class="row" del-id="@article.Id">
                <div class="col-md-10">
                    <button data-id="@article.Id" data-name="@article.Title" title="Delete @article.Title" class="btn btn-outline-danger delete-article" data-bs-toggle="modal" data-bs-target="#DelModal"><i class="bi-trash"></i>Delete @article.Title</button>
                </div>
                <div class="col-md-2">
                    @if (article.OrderArticle != ViewBag.minOrd)
                            {
                    <a class="btn btn-secondary" asp-action="UpOrder" asp-route-id="@article.Id"><i class="bx bx-chevron-up"></i></a>
                            }
                    @if (article.OrderArticle != ViewBag.maxOrd)
                            {
                    <a class="btn btn-secondary" asp-action="DownOrder" asp-route-id="@article.Id"><i class="bx bx-chevron-down"></i></a>
                            }
                </div>
            </div>
            <div class="row" art_title="@article.Title" art_id="@article.Id" art_categories="@article.Categories" art_order="@article.OrderArticle">
                @Html.Raw(@article.Contents)
            </div>
            <div class="row" add-id="@article.Id">
                <hr />
                <a asp-controller="Article" asp-action="WriteArticle" asp-route-order="@article.OrderArticle" class="btn link-success" style="width:100%"><i class="bi-plus-circle"></i>&nbsp;_____________  Add Article _____________</a>
            </div>
                }

            }
        </div><!-- End Frequently Asked Questions Section -->
    </main><!-- End #main -->
    <!-- Modal -->
    <div class="modal" id="DelModal" tabindex="-1" role="dialog" aria-labelledby="DelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DelModalLabel">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure Delete
                    <b><span id="articleName"></span></b>
                    ?
                    <input id="articleId" name="articleId" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-to-server">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
@section Scripts{
    <script src="~/js/ckeditor.js"></script>
    <script>
        let allEditors = document.querySelectorAll('.editable');
        for (let i = 0; i < allEditors.length; ++i) {
            InlineEditor
                .create(allEditors[i])
                .catch(error => {
                    console.error(error);
                }).editorConfig = function (config) {
                config.enterMode = CKEDITOR.ENTER_BR;
            };
        }

        $(function () {
            $("#saveAll").click(function () {
                var res = true;
                $.each(@j, function (k, v) {
                    var text = $.trim($('[art_id="' + v.id + '"]').html()).replace(/ lang="en" dir="ltr" role="textbox" aria-label="Rich Text Editor, main" contenteditable="true"/g, "");
                    text = text.replace(/ aos-init aos-animate/g, "").replace(/ aos-init/g, "").replace(/ ck-blurred/g, "").replace(/ck-blurred /g, "").replace(/ class="ck-link_selected"/g, "");
                    text = text.replace(/ ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline/g, "");//.replace(/(<p[^>]+?>|<p>|<\/p>)/img, "")
                    text = text.replace(/ class="image-inline ck-widget" contenteditable="false"/g, "").replace(/ data-cke-filler="true"/g, "").replace(/ contenteditable="true"/g,"");
                    text = JSON.stringify(text);
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("Update","Article")',
                        data: {
                            content: text,
                            id : $('[art_id="' + v.id + '"]').attr("art_id")
                        },
                        success: function (e) {
                            if (e) {
                                res = res && true;
                            }
                            else {
                                res = res && false;
                            }
                        }
                    });
                });
                if (res) {
                    alert("success save");
                }
                else {
                    alert("fail save");
                }
            });

            /**set data to dialog**/
            $(document).on("click", ".delete-article", function () {
                var myArticleId = $(this).data('id');
                $(".modal-body #articleId").val(myArticleId);
                var myArticleName = $(this).data('name');
                $(".modal-body #articleName").text(myArticleName);

                // As pointed out in comments,
                // it is unnecessary to have to manually call the modal.
                // $('#addBookDialog').modal('show');
            });
            $("#delete-to-server").click(function () {
                 $.ajax({
                        type: 'post',
                        url: '@Url.Action("RemoveArticle", "Article")',
                        data: {
                            id: $('#articleId').val()
                        },
                         success: function (e) {
                             if (e == true) {
                                 alert('Delete Success');
                                 id = $('#articleId').val();
                                 $('[art_id="' + id + '"],[add-id="' + id + '"],[del-id="' + id + '"]').remove();
                                 $('[data-bs-dismiss="modal"]').click();
                            }
                            else {
                             alert('Do Not Delete');
                            }
                        }
                    });
            });
        });

    </script>
}