@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <main role="main" class="pb-3">

        <div class="row">
            <div class="col-md-4">
                <h1>Login</h1>

                <div>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="text-danger">@ViewData["ErrorMessage"]</div>
                        }

                        <label asp-for="UserName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RememberMe"></label>
                            <input asp-for="RememberMe" />
                            <span asp-validation-for="RememberMe"></span>
                        </div>

                        <button type="submit" class="btn btn-danger">Login</button>
                    </form>

                    <div class="row mb-3">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <h5 class="font-medium m-b-20" style="font-size: 16px">Or Login With Your Account :</h5>
                            @*@{
                                if (!Model.ExternalLogins.Any())
                                {
                                    <div>This Time It Is Not Active!</div>
                                }
                                else
                                {
                                    <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                        <div class="social">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {

                                                <button type="submit" value="@provider.Name"
                                                        class="btn btn-danger" name="provider"
                                                        title="Login With Your Account  @provider.DisplayName ">
                                                    @provider.DisplayName
                                                </button>

                                            }
                                        </div>
                                    </form>
                                }

                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
