@model RegisterViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Register";
}
<link href="~/assets/vendor/Select2/select2.min.css" rel="stylesheet" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="show frm" id="CompanyForm">
            <h3 class="text-center">@Localizer["RegisterHeadCompany"]</h3>
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["UserCategory"]</label>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory1" value="1" autocomplete="off" checked>
                            <label class="btn btn-outline-danger" for="UserCategory1">@Localizer["Company"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory2" value="2" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory2">@Localizer["Blogger"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory3" value="3" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory3">@Localizer["Admin"]</label>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["UserName"]</label>
                        <input asp-for="UserName" class="form-control" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["CompanyName"]</label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["Brand"]</label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Email"]</label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["PhoneNumber"]</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["ProductsServices"]</label>
                        <input asp-for="ProductsServices" class="form-control" />
                        <span asp-validation-for="ProductsServices" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["ApproximateBudget"]</label>
                        <input asp-for="ApproximateBudget" class="form-control" />
                        <span asp-validation-for="ApproximateBudget" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["CountryOfOrigin"]</label>
                        <input asp-for="CountryOfOrigin" class="form-control" />
                        <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["DestinationCountries"]</label>
                        <input asp-for="DestinationCountries" class="form-control" />
                        <span asp-validation-for="DestinationCountries" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <label class="col-form-label">@Localizer["AnythingElse"]</label>
                        <textarea asp-for="AnythingElse" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="AnythingElse" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <br />
                        <button type="submit" class="btn btn-danger">@Localizer["Register"]</button>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-secondary">@Localizer["Cancle"]</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="hide frm" id="BloggerForm">
            <h3 class="text-center">@Localizer["RegisterHeadBlogger"]</h3>
            <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-row row">
                    <div class="form-group col-md-12">
                        <label class="col-form-label">@Localizer["UserCategory"]</label>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory1" value="1" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory1">@Localizer["Company"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory2" value="2" autocomplete="off" checked>
                            <label class="btn btn-outline-danger" for="UserCategory2">@Localizer["Blogger"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory3" value="3" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory3">@Localizer["Admin"]</label>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["UserName"]</label>
                        <input asp-for="UserName" class="form-control" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Email"]</label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">

                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Firstname"]</label>
                        <input asp-for="Firstname" class="form-control" required />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Lastname"]</label>
                        <input asp-for="Lastname" class="form-control" required />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Country"]</label>
                        @Html.DropDownList("Country", new SelectList(ViewBag.countries, "CountryShortCode", "CountryName"), new { id = "Country", @class = "form-control", required = "required" })
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["City"]</label>
                        @Html.DropDownList("City", new SelectList("", "ShortCode", "Name"),
                        "-- please select a States or Provincese --"
                        , new { id = "City", @class = "form-control", required = "required" })
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["InstagramPage"]</label>
                        <input asp-for="InstagramPage" class="form-control" placeholder="https://www.instagram.com/example" required />
                        <span asp-validation-for="InstagramPage" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["ApproximatePrice"]</label>
                        <input asp-for="ApproximatePrice" class="form-control" value="1000" required />
                        <span asp-validation-for="ApproximatePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["YourFavourites"]</label>
                        <select class="js-example-basic-multiple form-control" name="YourFavourites[]" multiple="multiple" required>
                            <option value="1">Ladies</option>
                            <option value="2">Health</option>
                            <option value="3">Fact</option>
                            <option value="4">Success And Motivation</option>
                            <option value="5">Sports</option>
                            <option value="6">Art and Music</option>
                            <option value="7">Lifestyle</option>
                            <option value="8">Foods</option>
                            <option value="9">Funny</option>
                            <option value="10">Teaching</option>
                        </select>
                        <span asp-validation-for="YourFavourites" class="text-danger"></span>
                        <input type="hidden" name="YourFavourites" id="YourFavourites" />
                   </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["PhoneNumber"]</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <label class="col-form-label">@Localizer["AnythingElse"]</label>
                        <textarea asp-for="AnythingElse" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="AnythingElse" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <label class="col-form-label">@Localizer["YourPicture"]</label>
                        <div class="custom-file">
                            <input asp-for="YourPicture" class="custom-file-input hide" id="YourPicture" accept=".png, .jpg, .jpeg, .gif">
                            <img src="~/assets/img/PicDefault.png" id="ImgYourPicture" width="200" style="border:1px solid #666;border-radius:10px" />
                        </div>
                        <span asp-validation-for="YourPicture" class="text-danger"></span>
                        <span class="text-danger">Size 500*400</span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <br />
                        <button type="submit" class="btn btn-danger">@Localizer["Register"]</button>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-secondary">@Localizer["Cancle"]</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="hide frm" id="AdminForm">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["UserCategory"]</label>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory1" value="1" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory1">@Localizer["Company"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory2" value="2" autocomplete="off">
                            <label class="btn btn-outline-danger" for="UserCategory2">@Localizer["Blogger"]</label>

                            <input type="radio" class="btn-check" name="UserCategory" id="UserCategory3" value="3" autocomplete="off" checked>
                            <label class="btn btn-outline-danger" for="UserCategory3">@Localizer["Admin"]</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["UserName"]</label>
                        <input asp-for="UserName" class="form-control" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["ConfirmPassword"]</label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label"><i class="link-danger">*</i>@Localizer["Email"]</label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">@Localizer["City"]</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-md-12 text-center">
                        <br />
                        <button type="submit" class="btn btn-danger">@Localizer["Register"]</button>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-secondary">@Localizer["Cancle"]</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/assets/vendor/Select2/select2.min.js"></script>
    <script>
        $(function () {
            $('[name="UserCategory"]').click(function () {
                switch ($(this).val()) {
                    case "1":
                        $(".frm").removeClass("show").addClass("hide");
                        $("#CompanyForm").addClass("show");
                        break;
                    case "2":
                        $(".frm").removeClass("show").addClass("hide");
                        $("#BloggerForm").addClass("show");
                        $("#Country").val('US').change();
                        break;
                    case "3":
                        $(".frm").removeClass("show").addClass("hide");
                        $("#AdminForm").addClass("show");
                        break;
                }
            });
            $("select#Country").change(function () {
                var selectedCountry = $("#Country option:selected").val();
                $.ajax({
                    url: '@Url.Action("GetRegions")',
                    data: { Country: selectedCountry },
                    dataType: "html",
                    type: "post",
                    success: function (data) {
                        $("#City").html('<option value="">-- please select a States or Provincese --</option>');
                        data = JSON.parse(data);
                        $.each(data, function (index, value) {
                            var text1 = '<option value=' + value.shortCode + '>' + value.name + '</option>';
                            $("#City").append(text1);
                        });
                    },
                    error: function (result) {
                        alert("error occured");
                    }
                });
            });
            var fileupload = $("#YourPicture");
            var image = $("#ImgYourPicture");
            image.click(function () {
                fileupload.click();
            });
            fileupload.change(function () {
                var inputFile = $(this);
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        image.attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            });
            $('.js-example-basic-multiple').select2({
                width: 'resolve' // need to override the changed default
            }).change(function () {
                $("#YourFavourites").val($(this).val().toString());
            });
        });
    </script>
}
